.container {
	/*width:372px;*/
	margin:0 auto;
	/*position: relative;*/
}

#content {
	width:520px;
	min-height:500px;
}
a:link, a:visited {
	color:#27b;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border-width:0;
}



a.signin {
	position:relative;
	margin-left:3px;
}



#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}


#nav input.search{
	border: 0px ;
	color: #898989;
	/*outline: none; Remove Chrome and Safari glows on focus*/
	background: white url(../images/search-right-bottom.png) 100% 59% no-repeat ;
/* 	padding: 8px 0px 0px 0px; */
	/*Sur Firefox le padding-top à 2 est très bien */
	padding: 2px 0px 0px 0px;
	width:230px;
	height:24px;
	margin: 0px 0px 1px 0px;
	display:inline;
}

.contact-button-loading{
	/*position:relative;
	left:486px;
	top: -20px;*/
}

.contact-button{
	/*position:relative;
	top:-24px;
	left: 463px;*/
}

.inner{
	position: relative;
	left: 0px;
/*	left: 515px;*/
/*	top: -28px;*/
}

/*
.img4validation{
	display:none;
	margin-left: 5px;
	width:12px;
}
*/

#counter{
	float:right;
}